img.resize{
 width:500px;
 height:400px;
}

h1{
  text-align: right;
  font-size: 50px;
  text-shadow: 2px 2px #8D7671
}
h2{
  text-align: right;
}

body{
  font-size: 10px;
  font-family: sans-serif;
  color: black;
}
h4{
  text-align: center;
  font-style: oblique;
  font-size: 25px;
}
.intro{
    float: right;
    width: 700px;
    height:300px;
    margin: 10px;
    background-color: #FAE3D9;
    border: 25px solid #BBDED6;
    padding: 25px;
}
.why{
    border:25px solid #BBDED6;
    float:left;
    margin: 10px;
    padding: 25px;
    background-color: #FAE3D9;
    width:400px;
    height:400px;
}
body{
  background-color: #FFB6B9;
}
#interests{
  float: left;
  width: 500px;
  height:400px;
  margin: 10px;
  background-color: #FAE3D9;
  border: 25px solid #BBDED6;
  padding: 25px;
}
.project{
  border:25px solid #BBDED6;
  float:right;
  margin: 10px;
  padding: 25px;
  background-color: #FAE3D9;
  width:400px;
  height:300px;
}
.footer{
  background-color: #FAE3D9;
    color: black;
    padding: 15px;
}
.nav{
  font-size: 20px;
  
}
