img.resize{
 width:500px;
 height:400px;
}

h1{
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px #8D7671
}
h2{
  text-align: center;
}
.testbox1{
  border:2px solid ;
  font-size: 20px;
  background-color: #FDCD6D;
  padding: 6px;
  margin: 20px;
}

body{
  font-size: 20px;
  font-family: sans-serif;
}
h4{
  text-align: center;
}
.testbox2{
  border: 2px;
}
.testbox3{
border:1px;
}
