[lang] body{font-family:NotoSansJP,Slack-Lato,appleLogo,sans-serif}
.p-alert_banner{font-size:15px;line-height:1.46666667;font-weight:initial}
.p-alert_banner__text{vertical-align:middle}
.p-app_management_modal,.p-app_management_modal li{font-size:15px;line-height:1.46666667;font-weight:initial}
.p-app_management_modal h2{font-size:22px;line-height:1.36363636;font-weight:900}
.p-app_management_modal h3{font-size:18px;line-height:1.33333333;font-weight:900;margin-bottom:0}
.p-coachmark{font-size:15px;line-height:1.46666667;font-weight:initial}
.p-coachmark__title{font-size:22px;line-height:1.36363636;font-weight:900}
button,input,select,textarea{font-family:inherit}
.c-sidebar_menu li{margin-bottom:4px}
.c-sidebar_menu__header{margin-bottom:0}
.c-sidebar_menu__divider{border:none;border-top:1px solid #e8e8e8;margin-bottom:16px}